<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Direkt</title>
</head>
<body>

<ul>
    {% if path is defined %}
        {% for link in links %}
        <li>
            <a href="?category={{ path }}{{ link }}">{{ link }}</a>
        </li>
        {% endfor %}
    {% else %}
        {% for product in products %}
        <li>

            <a href="/products/{{product}}">
                <img src="/static/img/{{product}}.jpg" alt="{{product}}">
                <span>{{ product }}</span>
            </a>
        </li>
        {% endfor %}
    {% endif %}

</ul>
</body>
</html>